    html {
      --lumo-base-color: #ededed;
      --lumo-primary-color: hsl(0, 90%, 52%);
      --lumo-primary-color-50pct: hsla(0, 90%, 52%, 0.5);
      --lumo-primary-color-10pct: hsla(0, 90%, 52%, 0.1);

    }
